//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   0. Import fonts
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Close Button
//  15. Drilldown
//  16. Dropdown
//  17. Dropdown Menu
//  18. Flex Video
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Off-canvas
//  24. Orbit
//  25. Pagination
//  26. Progress Bar
//  27. Reveal
//  28. Slider
//  29. Switch
//  30. Table
//  31. Tabs
//  32. Thumbnail
//  33. Tooltip
//  34. Top Bar

// 0. Import fonts
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500|Roboto+Condensed:300,400);

// 1. Global
// ---------

$global-width: rem-calc(1200);
$global-font-size: 100%;
$global-lineheight: 1.5;
$primary-color: #2199e8;
$secondary-color: #777;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #E64C3B;
$global-weight-light-gray: #e6e6e6;
$global-weight-bold-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$body-background: $white;
$body-font-color: $black;
$body-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$text-direction: ltr;
$global-margin: 1rem;
$global-padding: 1rem;
$global-margin: 1rem;
$global-weight-xLight: 200;
$global-weight-light: 200;
$global-weight-normal: 400;
$global-weight-bold: 500;
$global-radius: .3em;
$global-namespace: false;
$global-text-direction: ltr;
$rem-base: 16px;

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: 30px;
$block-grid-max: 6;


// Base Font
$global-font-size: 10px;//$base-font-size


// Headings
$titulos-font-family: "Dosis", serif;
$titulos-font-weight: $global-weight-xLight;

$titulos2-font-family: "Roboto Condensed", sans-serif;
$alt-font-family: "Roboto Condensed", sans-serif;

// Citas

$quote-font-family: "Georgia", serif;
$quote-font-weight: $global-weight-normal;
$quote-font-size: 18px;
$quote-font-style: italic;
$quote-line-height:1.5;

// Prueba

$prueba-font-family: "VAG Rounded W10 Black", sans-serif;

// Breakpoints
$bigPhone: 30;
$tablet: 45;
$desktop: 64;

// Importamos todos los modules
//@import "modules/all";
