@font-face {
  font-family: 'lse';
  src:url('../fonts/lse.eot');
  src:url('../fonts/lse.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lse.woff') format('woff'),
    url('../fonts/lse.ttf') format('truetype'),
    url('../fonts/lse.svg#lse') format('svg');
  font-weight: normal;
  font-style: normal;
}
