//_actualidadPortada.scss

.eventosPortada {
	& h3 {
		color: $enlace;
		@each $a in $site-color {
			.#{nth($a, 1)} & {
				color: nth($a, 2);
			}
		}
		margin: 0 0 .5em;
		text-transform: uppercase;
	}
	&.cajaBuscadorResultado {
		padding: 0 1.5625% 1.5625%;
		&:first-of-type {
			padding-left:0;
		}
		&:last-of-type {
			padding: 0 0 1.5625% 1.5625%;
		}
	}
	& ul {
		@include breakpoints(bigPhone){
			flex-flow: row wrap;
			justify-content: space-between;
		}
	}
	& li {
		display: none;
		position: relative;
		& a {
			background-color: #FFF;
			@each $a in $site-color {
				.#{nth($a, 1)} & {
					background-color: nth($a, 2);
				}
			}
			bottom: -10%;
			color: $negro;
			@each $a in $site-color {
				.#{nth($a, 1)} & {
					color: $blanco;
				}
			}
			font-family: $titulos-font-family;
			@include rem('font-size',16px);
			font-weight: $light;
			left: 0;
			padding: 0.25em .35em .25em .5em;
			position: absolute;
			text-transform: uppercase;
			width: 94.4%;
		}
		&:first-of-type {
			display: block;
			& a {
				border: none;
				bottom: auto;
				top: 0;
				width: 75%;
			}
		}
		& img {
			border: 1px solid #CCC;
		}
		@include breakpoints(desktop){
			display: block;
			float: left;
			width: 48%;
			&:first-of-type {
				width: 100%;
			}
			&:nth-of-type(2n) {
				margin-right: 4%;
			}
		}
		& dl {
			width: 100%;
		}
	}
}

.avisosPortada {
	padding: 0 0 1.5625% !important;
	& h3 {
		color: $enlace;
		@each $a in $site-color {
			.#{nth($a, 1)} & {
				color: nth($a, 2);
			}
		}
		margin: 0 0 .5em;
		text-transform: uppercase;
		@include breakpoints(desktop){
			margin-left: .75em;
		}
	}
	&.cajaBuscadorResultado {
		padding: 0 1.5625% 1.5625%;
		&:first-of-type {
			padding-left:0;
		}
		&:last-of-type {
			padding: 0 0 1.5625% 1.5625%;
		}
	}
	& ul {
		padding: 0 6.25%;
		@include breakpoints(tablet){
			border-left: 1px dotted $grisBorde;
		}
		@include breakpoints(desktop){
			border-right: 1px dotted $grisBorde;
			border-left: 1px dotted $grisBorde;
		}
	}
	& li {
		border-bottom: 1px dotted #CCC;
		@include rem('font-size',14px);
		font-weight: $medium;
		padding: .5em .5em .25em;
	}
	& a {
		color: $negro;
	}
}

.noticiasPortada {
	& h3 {
		color: $enlace;
		@each $a in $site-color {
			.#{nth($a, 1)} & {
				color: nth($a, 2);
			}
		}
		margin: 0 0 .5em;
		text-transform: uppercase;
	}
	&.cajaBuscadorResultado {
		padding: 0 1.5625% 1.5625%;
		&:first-of-type {
			padding-left:0;
		}
		&:last-of-type {
			padding: 0 0 1.5625% 1.5625%;
		}
	}
	& ul {

	}
	& li {
		border: 1px solid $grisBorde;
		font-weight: $medium;
		padding: .5em .5em .25em;
		position: relative;
		@include breakpoints(tablet){
			float: right;
			width: 48%;
		}
		@include breakpoints(desktop){
			width: 100%;
		}
		& dt {
			@include rem('font-size',16px);
		}
		/*&:first-of-type {
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: $light;
			min-height: 16em;
			padding: 0;
			text-transform: uppercase;
			& a {
				display: inline-block;
				margin: 0 .5em;
				padding-top: .5em;
			}
			@include breakpoints(tablet){
				float: left;
				min-height: 19em;
				width: 48%;
				& a {
						background-color: #FFF;
						bottom: 0;
						padding: 2%;
						position: absolute;
						right: 0;
						width: 85%;
					}
			}
			@include breakpoints(desktop){
			min-height: auto;
				width: 100%;
			}
		}
		*/
	}
	& a {
		color: $negro;
		font-weight: $light;
	}
}
