//_detalleEvento.scss
#dtEvento {
	margin-bottom: 1em;
	@include breakpoints(bigPhone) {
		width: 85%;
	}
	& ul {
		margin-left: 0;
	}
	& li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-bottom: 0;
		&.inscripcionAbierta {
			justify-content: flex-start;
			margin: .25em 0 .5em;
			& a {
				background-color: $enlace;
				@each $a in $site-color {
					.#{nth($a, 1)} & {
						background-color: nth($a, 2);
					}
				}
				border-radius: $global-radius;
				color: $white;
				@include rem('font-size', 20px);
				margin-left: 35%;
				padding: .25em .5em;
				text-transform: uppercase;
				@include breakpoints(bigPhone){
					margin-left: 30%;
				}
				&:before {
					color: $white;
					content: "\f044";
					cursor: pointer;
					display: inline-block;
					font-family: FontAwesome;
					font-size: 2rem;
					line-height: 1;
					margin-right: 0.5em;
				}
				&:visited {
					color: $white;
				}
			}
		}
		& p {
			@include rem('font-size', 18px);
			@include breakpoints(tablet) {
				@include rem('font-size', 20px);
			}
			margin: 0 0 .5em .5em;
		}
		& > p {
			flex-basis: 65%;
			text-align: left;
			@include breakpoints(bigPhone) {
				flex-basis: 68%;
			}
			&.tituloInterno {
				flex-basis: 28%;
				text-align: right;
				margin: 0 .5em .5em 0;
				@include breakpoints(bigPhone) {
					flex-basis: 23%;
				}
			}
		}
		& > div {
			flex-basis: 65%;
			margin: 0 0 .5em .5em;
			text-align: left;
			@include breakpoints(bigPhone) {
				flex-basis: 68%;
			}
		}
		& > ul {
			flex-basis: 65%;
			@include breakpoints(bigPhone) {
				flex-basis: 68%;
			}
		}
		& div {
			flex-basis: 65%;
			margin: 0 0 .5em .5em;
			@include breakpoints(bigPhone) {
				flex-basis: 68%;
			}
			& p {
				margin-left: 0;
			}
		}
		& li {
			justify-content: flex-start;
		}
	}
	& .requisitos li {
			border-bottom: 1px dotted $medium-gray;
			margin-bottom: .25em;
			padding-bottom: .25em;
			&:last-of-type {
				border-bottom:0;
				margin-bottom:0;
				padding-bottom: 0;
			}
			&:only-child {
				margin-bottom:0;
			}
	}
	& .requisitos {
		& div p {
			margin-top: .5em;
			&:first-of-type {
				margin-top:0;
			}
		}
	}
}
