//_formularioContacto.scss

#cajaFormularioGenerico {
		border: 1px solid $medium-gray;
		padding: 1em;
	& legend {
		@include title3-style;
		margin-top: 0;
	}
	& label {
		clear: both;
		float: left;
		@include rem('font-size',16px);
		width: 100%;
		@include breakpoints(bigPhone){
			width: 75%;
		}
		& input {
			border: 1px solid $dark-gray;
			border-radius: $global-radius;
			display: block;
			margin: .25em 0;
			padding: .15em .5em;
			width: 80%;
		}
		&.ficheroAdjuntoInput input {
			border: none;
			@include rem('font-size',14px);
			margin-left: 0;
			@include breakpoints(bigPhone){
				@include rem('font-size',16px);
			}
		}
	}
	& input[type="checkbox"] {
		display: inline;
		width: 10%;
	}
	& input[type="file"] {
		@include rem('font-size',14px);
	}
	& input[type="submit"] {
		@extend .botonEnviarFormulario;
	}
	& textarea {
		width: 100%;
		@include breakpoints(bigPhone){
			display: block;
			width: 83%;
		}
	}
	& select {
		display: block;
		margin: .25em 0;
		padding: .15em .5em;
		width: 80%;
	}
	& .campoCorto {
		& label select {
			@include breakpoints(tablet){
				display: inline-block;
				margin-left: .5em;
				width: 15%;
			}
		}
		& .DescripcionLarga {
			overflow: hidden;
			width: 80%;
			& p {
				@include rem('font-size',16px);
			}
		}
	}
}

.campoCorto {
	& label select {
		@include breakpoints(tablet){
			display: inline-block;
			margin-left: .5em;
			width: 15%;
		}
	}
}

#formContacto {
	@extend #cajaFormularioGenerico;
}

.colFormulario {
	float: left;
	width: 100%;
}

.campoObligatorio {
	@include rem('font-size',16px);
}

.textoLegal {
	& p {
		@include rem('font-size',14px);
	}
}


.botonEnviarFormulario,
#solicitar {
	background-color: $enlace;
	@each $a in $site-color {
		.#{nth($a, 1)} & {
			background-color: nth($a, 2);
		}
	}
	border: none !important;
	border-radius: $global-radius;
	color: #FFF;
	float: right;
	line-height: 2;
	padding: 0 .5em;
	text-transform: uppercase;
}

.Error {
	color: $alert-color;
}

.labelError {
	@extend .Error;
	#contenidoAux & {
		margin-bottom: 0;
	}
}

.inputError {
	border-color: $alert-color !important;
	@extend .Error;
}

input.Error {
	@extend .inputError;
}

textarea.Error {
	@extend .inputError;
	border: 1px solid $alert-color;
}

.nullError {
	@extend .inputError;
}

.ayudaForm {
	background-color: $alert-color;
	border: 1px solid $alert-color;
	border-radius: $global-radius;
	color: $white;
	float: left;
	@include rem('font-size',16px);
	margin-top: .5em;
	padding: 0.25em 0.5em;
	position: relative;
	width: 100%;
	@include breakpoints(bigPhone){
		float: right;
		width: 25%;
		#contenidoAux & {
			width: 100%;
		}
	}
	&:before {
		background: none repeat scroll 0 0 $alert-color;
		top: -6px;
		content: " ";
		height: 10px;
		left: 12px;
		margin: 0 auto;
		position: absolute;
		transform: rotate(-45deg);
		width: 10px;
		z-index: 10;
		@include breakpoints(bigPhone){
			top: 35%;
			left: -100%;
			right: 0;
			#contenidoAux & {
				top: -6px;
				left: -80%;
			}
		}
	}
}

.cajaAyudaBorde {
	background-color: $light-gray;
	clear: both;
	padding: .5em;
	& p {
		@include rem('font-size',14px);
	}
	& p:first-of-type {
		@include title3-style;
		& strong {
			font-weight: $global-weight-light;
		}
	}
}

#instruccionesUnicaError {
	background-color: $alert-color;
	border: 1px solid $alert-color;
	margin-bottom: 1em;
	padding: .5em 1em;
	border-radius: $global-radius;
	& p {
		&.resultadoError {
			@include title3-style;
			color: $white;
		}
		color: $white;
		margin-bottom: 0;
	}
}

//Campos eliminados en formularios

//Qué falta en la agenda
#sf_1430183569439 {
	& .direccionLocalidad label:last-of-type,
	& .direccionProvincia {
		display: none;
	}
}
