//_tablas.scss


table {
	border: 1px solid #CCC;
	border-collapse: collapse;
	overflow-x: auto;
	overflow-y: hidden;
  	-webkit-overflow-scrolling: touch;
  	-ms-overflow-style: -ms-autohiding-scrollbar;
  	width: 100%;
}

thead tr {
	background-color: rgba($enlace,.25) !important;
	@each $a in $site-color {
		.#{nth($a, 1)} & {
			background-color: rgba(nth($a, 2),.25) !important;
		}
	}
	text-align: center;
}

th {
	border: 1px solid #CCC;
	padding: .25em 0;
	text-transform: uppercase;
}

tr {	
	background-color: $white;
	&:nth-of-type(even) {
		background-color: #EBEBEB;
	}
}

td {
	@extend th;
	text-transform: none;
	& dt {
		@include rem('font-size',18px);
		font-weight: $global-weight-bold;
	}
}

td[rowspan] {
	vertical-align: middle;
}

.desSinTitulo td,
.desConTitulo td {
	& > * {
			margin: 0 1em 0 1.5em;
		}
}
