// _tilesApp.scss

.tilesApp {
  dl {
    position: relative;
  }
  dd.imagen {
    height: 6em;
    padding-left: 0;
    img {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  dt.titulo {
    background-color: rgba($black, .4);
    height: 4.85em;
    margin: 0;
    position: absolute;
    text-transform: none;
    top: 0;
    width: 94%;
    a {
      color: $white;
      display: block;
      @include rem('font-size',18px);
      line-height: 1.2;
      margin: 2.5em .5em 0 0;
      text-align: right;
    }
  }
}
